*.conf
*.jar
*.log
*.env
*.toml
.ergo
*.properties
*.log.gz
*.out
/ergo_node*
sh/ergo_node.zip
sh/.DS_Store
.DS_Store
sh/ergo_node 2.zip
sh/ergo_node/java
sh/ergo/ergo-2022-02-10.0.log972349806503208.tmp
sh/683789.zip
sh/ergo/java
.Rhistory
py/doxx.csv
py/doxx.ipynb
py/aaa
py/log.txt
py/scrape.ipynb
py/SPF.ipynb
py/dev-rank/.env
py/dev-rank/chats
py/dev-rank/chat-exporter
py/dev-rank/extracted_links/*
*.txt