*.conf
*.jar
*.log
*.toml
.ergo
*.properties
*.log.gz
*.out
/ergo_node*
sh/ergo_node.zip
sh/.DS_Store
.DS_Store
sh/ergo_node 2.zip
sh/ergo_node/java
sh/ergo/ergo-2022-02-10.0.log972349806503208.tmp
sh/683789.zip
sh/ergo/java
